<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}

    
    <script type="text/javascript">

        function success(data) {
            console.log(data.msg);
        }

        function post_notify_email() {
            var title = document.title;
            var urlpath = window.location.href;
            
            $.ajax({
                type: "POST",
                url: "http://140.143.249.103/notify/",
                data: {"title":title, "urlpath":urlpath},
                success: success,
                dataType: "json"
            });
        };
        post_notify_email();
    </script>
    
  </body>

</html>
